<header class="g-hd " id="g-hd">
    <div class="m-topnav-wrap">
        <div class=" m-topnav" id="topbar-box">
            <div class="m-topnavbar">
                <span id="backbtn" class="u-icn18 backbtn">
                </span>
                <span class="tit" id="toptitle">
                    {% block headertitle %}
                    {{ title }}
                    {% end %}
                </span>
                <span class="u-menu" id="menu">
                    &nbsp;
                </span>
            </div>
            <div class="f-cb m-nav">
                <div class="f-fl f-tac nav">
                    <a class="u-index icon" href="/">
                        &nbsp;
                    </a>
                </div>
                <div class="f-fl f-tac nav">
                    <a class="u-cart icon" href="/cart">
                        &nbsp;
                    </a>
                </div>
                <div class="f-fl f-tac nav">
                    <a class="u-orders icon" href="/orders">
                        &nbsp;
                    </a>
                </div>
                <div class="f-fl f-tac nav">
                    <a class="u-coupon icon" href="/coupon">
                        &nbsp;
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>