
<footer id="docFoot">
    <div class="footBgWrap">
        <div class="box">
            <div id="btmlist">
                <ul class="clearfix">
                    <li style="width: 200px;">
                        <i class="w-icon w-icon-23">
                            &nbsp;
                        </i>
                        <strong class="tit">
                            100%自营正品
                        </strong>
                        <span class="desc">
                            美会说自营 正品保障
                        </span>
                    </li>
                    <li style="width: 200px;">
                        <i class="w-icon w-icon-23 w-icon-23-1">
                            &nbsp;
                        </i>
                        <strong class="tit">
                            100%海外精选
                        </strong>
                        <span class="desc">
                            全球尖货 一站选购
                        </span>
                    </li>
                    <li>
                        <i class="w-icon w-icon-23 w-icon-23-2">
                            &nbsp;
                        </i>
                        <strong class="tit">
                            15天无忧退货
                        </strong>
                        <span class="desc">
                            国内退货 售后无忧
                        </span>
                    </li>
                    <li class="last">
                        <i class="w-icon w-icon-23 w-icon-23-3">
                            &nbsp;
                        </i>
                        <strong class="tit">
                            全新海淘模式
                        </strong>
                        <span class="desc">
                            极速清关 政府监管
                        </span>
                    </li>
                </ul>
            </div>
            <div id="guideList">
                <ul class="clearfix">
                    <li class="bd_none first">
                        <a href="/" class="logokaola" title="美会说药妆海外购">
                        </a>
                        <div class="focuson">
                            <span class="label">
                                关注我们
                            </span>
                            <a class="itm" href="http://weibo.com/beautalk" target="_blank" rel="nofollow">
                                <em class="w-icon w-icon-24">
                                </em>
                                <!-- <span class="m-notice m-notice-1">
                                    <img src="/images/www/2dcode-wb.jpg" width="100px"
                                    height="100px">
                                    <span class="arrow">
                                        <span class="arr">
                                        </span>
                                        <span class="arr1">
                                        </span>
                                    </span>
                                </span> -->
                            </a>
                            <a class="itm nolink" href="javascript:void(0);" rel="nofollow">
                                <em class="w-icon w-icon-24 w-icon-24-1">
                                </em>
                                <span class="m-notice">
                                    <img src="/images/www/2dcode-wx.png" width="100px"
                                    height="100px">
                                    <span class="arrow">
                                        <span class="arr">
                                        </span>
                                        <span class="arr1">
                                        </span>
                                    </span>
                                </span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <dl>
                            <dt>
                                <em>
                                    美会说保障
                                </em>
                            </dt>
                            <dd>
                                <a target="_blank" href="/footer/support" title="自营正品" rel="nofollow">
                                    自营正品
                                </a>
                            </dd>
                            <dd>
                                <a target="_blank" href="/footer/directmail" title="海外直邮" rel="nofollow">
                                    海外直邮
                                </a>
                            </dd>
                        </dl>
                    </li>
                    <li>
                        <dl>
                            <dt>
                                <em>
                                    新手指南
                                </em>
                            </dt>
                            <dd>
                                <a target="_blank" href="/footer/buy" title="购物流程" rel="nofollow">
                                    购物流程
                                </a>
                            </dd>
                            <dd>
                                <a target="_blank" href="/footer/epay" title="支付方式" rel="nofollow">
                                    支付方式
                                </a>
                            </dd>
                            <dd>
                                <a target="_blank" href="/footer/faq" title="常见问题" rel="nofollow">
                                    常见问题
                                </a>
                            </dd>
                        </dl>
                    </li>
                    <li>
                        <dl>
                            <dt>
                                <em>
                                    售后服务
                                </em>
                            </dt>
                            <dd>
                                <a target="_blank" href="/footer/cancelorder" title="取消订单">
                                    取消订单
                                </a>
                            </dd>
{#                            <dd>#}
{#                                <a onclick="javascript:void(0);" title="联系客服" rel="nofollow">#}
{#                                    联系客服#}
{#                                </a>#}
{#                            </dd>#}
                        </dl>
                    </li>
                    <li>
                        <dl>
                            <dt>
                                <em>
                                    物流配送
                                </em>
                            </dt>
                            <dd>
                                <a target="_blank" href="/footer/deliverymode" title="配送方式">
                                    配送方式
                                </a>
                            </dd>
                            <dd>
                                <a target="_blank" href="/footer/freight" title="运费标准">
                                    运费标准
                                </a>
                            </dd>
                            <dd>
                                <a target="_blank" href="/footer/logistracking" title="物流跟踪" rel="nofollow">
                                    物流跟踪
                                </a>
                            </dd>
                        </dl>
                    </li>
                    <li>
                        <dl>
                            <dt>
                                <em>
                                    关于我们
                                </em>
                            </dt>
                            <dd>
                                <a target="_blank" href="/footer/siteintro" title="网站简介" rel="nofollow">
                                    网站简介
                                </a>
                            </dd>
                            <dd>
                                <a target="_blank" href="/footer/contactus" title="联系我们" rel="nofollow">
                                    联系我们
                                </a>
                            </dd>
                        </dl>
                    </li>
                    <li class="bd_none item last">
                        <img src="/images/www/app_download.png" width="108px"
                        height="108px">
                        <span>
                            扫描下载手机版
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="aboutNEST">
        <a href="#" rel="nofollow" target="_blank" title="公司简介">公司简介</a>
        -
        <a href="#" rel="nofollow" target="_blank" title="联系方法">联系方法</a>
        -
        <a href="#" target="_blank" title="友情链接">友情链接</a>
        -
        <a href="#" rel="nofollow" target="_blank" title="招聘信息">招聘信息</a>
        -
        <a href="/" rel="nofollow" target="_blank" title="客户服务">客户服务</a>
        -
        <a href="#" rel="nofollow" target="_blank" title="隐私政策">隐私政策</a>
        -
        <a href="/" rel="nofollow" target="_blank" title="网络营销">网络营销</a>
        -
        <a href=""target="_blank" title="美会说海购">美会说海购</a>
        <br>
            增值电信业务经营许可证：京ICP备11033472号-4
        <span class="copyTxt">
            美会说版权所有©2011-2016
        </span>
    </div>
</footer>
<script type="text/javascript">
    {% if not handler.settings["running_status"] %}
        var _hmt = _hmt || [];
        (function() {
          var hm = document.createElement("script");
          hm.src = "//hm.baidu.com/hm.js?05f667041c9d1dd93ee9e6edf01444f9";
          var s = document.getElementsByTagName("script")[0];
          s.parentNode.insertBefore(hm, s);
        })();
    {% end %}
</script>
