<!-- bar: 购物车 and 返回顶部  -->
<div id="rightBar" class="m-rightbar m-rightbarnew" style="display:block;position: absolute; top: 46px;">
    <ul class="clearfix">
        <li>
            <a class="shopcart" title="购物车" href="/cart"
            target="_blank" rel="nofollow">
                <span class="txt">
                    购物车
                </span>
                <span class="num">
                    0
                </span>
            </a>
        </li>
        <li>
            <a class="srcolltop" id="scrollTop" title="返回顶部" href="/#"
            rel="nofollow">
                &nbsp;
            </a>
        </li>
    </ul>
</div>
<!-- end bar: 购物车 and 返回顶部  -->