
    <article class="m-slogan">
        <ul class="slst clearfix">
            <li>
                <a target="_blank">
                    <b class="icn">
                    </b>
                    <span class="wrap">
                        <span class="slogan">
                            美会说自营
                        </span>
                        <span class="desc">
                            海外精选 100%确保正品
                        </span>
                    </span>
                </a>
            </li>
            <li>
                <a  target="_blank">
                    <b class="icn icn-1">
                    </b>
                    <span class="wrap">
                        <span class="slogan">
                            低价保障
                        </span>
                        <span class="desc">
                            缩减中间环节 确保低价
                        </span>
                    </span>
                </a>
            </li>
            <li>
                <a target="_blank">
                    <b class="icn icn-2">
                    </b>
                    <span class="wrap">
                        <span class="slogan">
                            闪电发货
                        </span>
                        <span class="desc">
                            电子清关 极速发货
                        </span>
                    </span>
                </a>
            </li>
            <li>
                <a target="_blank">
                    <b class="icn icn-3">
                    </b>
                    <span class="wrap">
                        <span class="slogan">
                            全场包邮
                        </span>
                        <span class="desc">
                            全场商品包邮
                        </span>
                    </span>
                </a>
            </li>
        </ul>
    </article>