{% extends "a_layout.html" %}

{% block title %}管理后台 {{ handler.settings["site_name"] }}{% end %}

{% block head %}
{% end %}


{% block header %}
{% module AdminNavModule() %}
{% end %}


{% block content %}

{% module AdminMenuModule("home") %}

<div class="content-wrapper" style="min-height: 612px;">
  <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Page Header
        <small>Optional description</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
        <li class="active">Here</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box box-primary">
            <div class="box-body">
              {% if day_order_stats %}
                <table id="control_table" class="table table-bordered table-hover">
                  <thead>
                    <tr>
                      <th style="text-align: center;">日期</th>
                      <th style="text-align: center;">订单数</th>
                      <th style="text-align: center;">销售额</th>
                      <th style="text-align: center;">毛利额</th>
                      <th style="text-align: center;">毛利率</th>
                      <th style="text-align: center;">单品排序（前10）</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for index, o_s in enumerate(day_order_stats) %}
                      <tr style="text-align: center;">
                        {% if index < 7 %}
                          <td>{{ str(o_s.ben_date) }}</td>
                          <td>{{ o_s.order_num }} </td>
                          <td>{{ str(o_s.sale) }}</td>
                          <td>{{ str(o_s.profit) }}</td>
                          <td>{{ str(o_s.profit_rate)+'%' }}</td>
                          <td>
                            <a href="/welcome/order_stat_goods/{{o_s.order_stat_id}}">查看</a>
                          </td>
                        {% end %}
                      </tr>
                      <input type="hidden" value="{{o_s.ben_date}}" id="day_{{index+1}}">
                      <input type="hidden" value="{{o_s.order_num}}" id="day_order_sum_{{index+1}}">
                      <input type="hidden" value="{{o_s.sale}}" id="day_sale_{{index+1}}">
                    {% end %}

                    {% for index, o_s in enumerate(week_order_stats) %}
                      <tr style="text-align: center;">
                        {% if index < 3 %}
                          <td>{{ str(o_s.ben_date) }} ~ {{ str(o_s.end_date) }}</td>
                          <td>{{ o_s.order_num }} </td>
                          <td >{{ str(o_s.sale) }}</td>
                          <td>{{ str(o_s.profit) }}</td>
                          <td>{{ str(o_s.profit_rate)+'%' }}</td>
                          <td>
                            <a href="/welcome/order_stat_goods/{{o_s.order_stat_id}}">查看</a>
                          </td>
                        {% end %}
                      </tr>
                      <input type="hidden" value="{{o_s.ben_date}}~{{o_s.end_date}}" id="week_{{index+1}}">
                      <input type="hidden" value="{{o_s.order_num}}" id="week_order_sum_{{index+1}}">
                      <input type="hidden" value="{{o_s.sale}}" id="week_sale_{{index+1}}">
                    {% end %}

                    {% for index, o_s in enumerate(month_order_stats) %}
                      <tr style="text-align: center;">
                        {% if index < 3 %}
                          <td>{{ str(o_s.ben_date) }} ~ {{ str(o_s.end_date) }}</td>
                          <td>{{ o_s.order_num }} </td>
                          <td >{{ str(o_s.sale) }}</td>
                          <td>{{ str(o_s.profit) }}</td>
                          <td>{{ str(o_s.profit_rate)+'%' }}</td>
                          <td>
                            <a href="/welcome/order_stat_goods/{{o_s.order_stat_id}}">查看</a>
                          </td>
                        {% end %}
                      </tr>
                      <input type="hidden" value="{{o_s.ben_date}}~{{o_s.end_date}}" id="month_{{index+1}}">
                      <input type="hidden" value="{{o_s.order_num}}" id="month_order_sum_{{index+1}}">
                      <input type="hidden" value="{{o_s.sale}}" id="month_sale_{{index+1}}">
                    {% end %}

                  </tbody>
                </table>
              {% end %}
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="box box-primary">
            <div class="box-body">
              {% if shop_order_stats %}
                <table id="control_table" class="table table-bordered table-hover">
                  <thead>
                    <tr>
                      <th style="text-align: center;">店铺</th>
                      {% for each in shop_order_stats %}
                        <th style="text-align: center;"> {{ each.ben_date }} </th>
                      {% end %}
                      {% if week_stats %}
                        <th style="text-align: center;"> 上周 </th>
                      {% end %}
                      {% if month_stats %}
                        <th style="text-align: center;"> 上月 </th>
                      {% end %}
                      <th style="text-align: center;"> 操作 </th>
                    </tr>
                  </thead>
                  <tbody>
                    {% import json %}
                    {% for shop in shop_names %}
                      <tr style="text-align: center;">
                        <td> {{ shop["name"] }} </td>
                        {% for stat in shop_order_stats %}
                          <td> {{ json.loads(stat.data)[shop["id"]]["price"] if shop["id"] in json.loads(stat.data) else 0 }} </td>
                        {% end %}
                        {% if week_stats %}
                          <td> {{ week_stats[shop["id"]] if shop["id"] in week_stats else 0 }} </td>
                        {% end %}
                        {% if month_stats %}
                          <td> {{ month_stats[shop["id"]] if shop["id"] in month_stats else 0 }} </td>
                        {% end %} 
                        <td> 
                          <a href="/welcome/order_stat_shop/?shop_id={{shop['id']}}">查看</a> 
                        </td>
                      </tr>
                    {% end %}
                  </tbody>
                </table>
              {% end %}
            </div>
          </div>
        </div>
      </div>

      {% for x in xrange(0, 3) %}
      <div class="row">
        <div class="col-xs-6">
          <div class="box box-success">
            <div class="box-header with-border">
              <h3 class="box-title"> 
                {% if x == 0 %}
                  每天销售额
                {% elif x == 1 %}
                  每周销售额
                {% elif x == 2 %}
                  每月销售额
                {% end %} 
              </h3>
            </div>
            <div class="box-body">
              <div class="chart">
                <canvas id="sale_bar_{{x}}" height="360" width="755" style="width: 755px; height: 360px;">
                </canvas>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xs-6">
          <div class="box box-success">
            <div class="box-header with-border">
              <h3 class="box-title">
                {% if x == 0 %}
                  每天订单数量 
                {% elif x == 1 %}
                  每周订单数量 
                {% elif x == 2 %}
                  每月订单数量 
                {% end %}
              </h3>
            </div>
            <div class="box-body">
              <div class="chart">
                <canvas id="order_sum_bar_{{x}}" height="360" width="755" style="width: 755px; height: 360px;">
                </canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% end %}
    </section><!-- /.content -->
</div>

{% end %}


{% block footer %}
{% module AdminFooterModule() %}
{% end %}


{% block tail_script %}
<script type="text/javascript">
$("#idAddJob").click(function(){
  $.ajax("/j/add_job")
    .done(function(r){
      alert(r.result);
    });
});

$(function () {
  day_data = get_val(30, "day");
  init_cav(day_data["labels"], day_data["sale_data"], "sale_bar_0");
  init_cav(day_data["labels"], day_data["order_sum_data"], "order_sum_bar_0");
  week_data = get_val(20, "week");
  init_cav(week_data["labels"], week_data["sale_data"], "sale_bar_1");
  init_cav(week_data["labels"], week_data["order_sum_data"], "order_sum_bar_1");
  month_data = get_val(12, "month");
  init_cav(month_data["labels"], month_data["sale_data"], "sale_bar_2");
  init_cav(month_data["labels"], month_data["order_sum_data"], "order_sum_bar_2");
});

function get_val(len, date_type){
  var labels = []
  var sale_data = []
  var order_sum_data = []
  for(i=len; i>0; i--){
    if(typeof($("#"+date_type+"_"+i).val()) == "undefined"){
      continue;
    }
    labels[labels.length] = $("#"+date_type+"_"+i).val();
    sale_data[sale_data.length] = $("#"+date_type+"_sale_"+i).val();
    order_sum_data[order_sum_data.length] = $("#"+date_type+"_order_sum_"+i).val();
  }
  return {"labels": labels, "sale_data": sale_data, "order_sum_data": order_sum_data};
}

function init_cav(labels, data, id){
  var label = "Sale";
  if(id == "order_sum_bar_0" | id == "order_sum_bar_1" | id == "order_sum_bar_2"){
    label = "Sum"
  }
  var barChartData = {
    labels: labels,
    datasets: [
      {
        label: label,
        backgroundColor: "rgba(75, 192, 192, 1)",
        borderColor: "rgba(75, 192, 192, 1)",
        borderWidth: 1,
        hoverBackgroundColor: "rgba(75, 192, 192, 1)",
        hoverBorderColor: "rgba(75, 192, 192, 1)",
        data: data
      }
    ]
  };
  var barChartCanvas = $("#"+id).get(0).getContext("2d");
  var barChartOptions = {
    scales: {
      xAxes: [{
        stacked: true
      }],
      yAxes: [{
        stacked: true
      }]
    },
    barShowStroke: true,
    barStrokeWidth: 2,
    barValueSpacing: 5,
    barDatasetSpacing: 1,
    legendTemplate: "",
    responsive: true,
    maintainAspectRatio: false
  };

  new Chart(barChartCanvas, {
    type: 'bar',
    data: barChartData,
    options: barChartOptions
  });
}
</script>
{% end %}