{% extends '../admin/a_layout.html' %}
{% block css %}
    <style>
        table{
        table-layout:auto;
        }
        td{
        width:100%;
        word-break:keep-all;
        white-space:nowrap;
        }
    </style>
{% end %}

{% block title %}
商品表            
{% end %}
{% block page_header %}
<ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Admin</a></li>
    <li class="active">goods_manage</li>
</ol>
{% end %}

{% block content_title %}
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="exampleModalLabel">CreateItem</h4>
        </div>
        <div class="modal-body">
            <form method="post" action="" class="item_form">
                <div class="form-group">
                    <label for="recipient-name" class="control-label">商品名称:</label>
                    <input type="text" class="form-control" id="recipient-name" name="item_name">
                </div>
                <div class="form-group">
                    <label for="recipient-name" class="control-label">商品信息:</label>
                    <input type="text" class="form-control" id="recipient-name" name="item_info">
                </div>
                <div class="form-group">
                    <label for="recipient-name" class="control-label">商品编码:</label>
                    <input type="text" class="form-control" id="recipient-name" name="item_code">
                </div>
                <div class="form-group">
                    <label for="recipient-name" class="control-label">商品条码:</label>
                    <input type="text" class="form-control" id="recipient-name" name="item_barcode">
                </div>
                <div class="form-group">
                    <label for="recipient-name" class="control-label">原价:</label>
                    <input type="text" class="form-control" id="recipient-name" name="price">
                </div>
                <div class="form-group">
                    <label for="recipient-name" class="control-label">现价:</label>
                    <input type="text" class="form-control" id="recipient-name" name="current_price">
                </div>
                <div class="form-group">
                    <label for="recipient-name" class="control-label">国外价格:</label>
                    <input type="text" class="form-control" id="recipient-name" name="foreign_price">
                </div>
                <div class="form-group">
                    <label for="recipient-name" class="control-label">关键字:</label>
                    <input type="text" class="form-control" id="recipient-name" name="key_word">
                </div>
                <div class="form-group">
                    <label for="recipient-name" class="control-label">产地:</label>
                    <input type="text" class="form-control" id="recipient-name" name="origin">
                </div>
                <div class="form-group">
                    <label for="recipient-name" class="control-label">保质期:</label>
                    <input type="text" class="form-control" id="recipient-name" name="shelf_life">
                </div>
                <div class="form-group">
                    <label for="recipient-name" class="control-label">容量:</label>
                    <input type="text" class="form-control" id="recipient-name" name="capacity">
                </div>
                <div class="form-group">
                    <label for="recipient-name" class="control-label">适用人群:</label>
                    <input type="text" class="form-control" id="recipient-name" name="for_people">
                </div>
                <div class="form-group">
                    <label for="recipient-name" class="control-label">重量:</label>
                    <input type="text" class="form-control" id="recipient-name" name="weight">
                </div>

            </form>
            <div class="return_msg_box"></div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary submit_btn" >Submit</button>
        </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        <div "row">
            <div class="col-md-8">
                <form action="" method="GET" class="search_input">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for..." name="search_value" value="">
                    <span class="input-group-btn">
                        <button class="btn btn-default search_input_btn" type="submit">Search</button>
                    </span>
                  </div><!-- /input-group -->
                </form>
            </div>
            <div class="col-md-4">

            </div>
        </div>
    </div>
    <div class="col-md-4">
        <button type="button" class="btn btn-info add_item_btn" type="button" data-toggle="modal" data-target="#exampleModal" >AddUser <span class="glyphicon glyphicon-plus"></span></button>
        <button type="button" class="btn btn-default choose_item" type="button">Choose<span class="glyphicon glyphicon-saved"></span></button>
        <button type="button" class="btn btn-danger delete_item" type="button">Delete<span class="glyphicon glyphicon-trash"></span></button>
    </div>
</div>
{% end %}

{% block content %}

<table class="table table-striped item_table" >
    <head>
        <tr>
            {% for i in table_head %}
            <th>{{i}}</th>
            {% end %}
        </tr>
    </head>
    <tbody>
        {% for i in item_obj %}
        <tr>
            {% for j in table_head %}
                {% if j != 'more' %}
                   <td> {{ datetime.datetime.fromtimestamp(getattr(i, j)) if j=='create_time' or j=='update_time' else getattr(i, j) }} </td> 
                {% end %}
            {% end %}
            <td>
                <a class='edit_member' style='cursor:pointer;text-decoration:none;'><span class="glyphicon glyphicon-pencil"></span> 编辑</a> 
                <big>|</big> 
                <a class='edit_member' style='cursor:pointer;text-decoration:none;'><span class="glyphicon glyphicon-picture"></span> 图片管理</a>
            </td>
            <td style='display: none'><input type='checkbox'></td>
        </tr>
        {% end %}
    </tbody>
        
</table>


{% end %}
{% block js %}
    <script>
    $(function(){
        $('.admin').addClass('active')
        $('.admin .items_manage').addClass('active')
    })
    $(".add_item_btn").click(function(){
        $('.modal-title').text('CreateItem')
        $('.submit_btn').unbind()
        $('.submit_btn').click(function(){
            add_or_edit_item(false)
        })
    })
    var item_id = null
    function add_or_edit_item(is_edit){
        var request_url = is_edit ? '/j/edit_item/?item_id=' + item_id : '/j/add_item/'
        var $input_list = $('.item_form input')
        var data_dict = {}
        $input_list.each(function(index,item){
            var input_value = $(item).val().trim()
            if(is_edit){
                var input_old_value = $(item).attr('old_value')
                if(input_value != input_old_value){
                    data_dict[$(item).attr('name')]=input_value
                }
            }else{
                data_dict[$(item).attr('name')]=input_value
            }
                
        })
        data_dict['_xsrf'] = getCookie("_xsrf")
        console.log(data_dict)
        $.post(
            request_url,
            data_dict,
            function(value){
                if(value.status){
                    $('#exampleModal').modal('hide')
                    location.reload()
                }else{
                    var error_msg = value.error_msg
                    $('.return_msg_box').text(error_msg)
                }
            },
            'json'
        )
    }
    </script>
{% end %}