<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<title>{% block title %}{% end %}</title>
<link rel="stylesheet" charset="utf-8" href="/css/bootstrap.min.css?v={{ handler.settings['static_version'] }}"/>
<link rel="stylesheet" type="text/css" href="/css/AdminLTE.min.css?v={{ handler.settings['static_version'] }}"/>
<link rel="stylesheet" type="text/css" href="/css/skins/skin-blue-light.min.css?v={{ handler.settings['static_version'] }}"/>
<link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css?v={{ handler.settings['static_version'] }}"/>
<link rel="stylesheet" charset="utf-8" href="/css/ui_admin.css?v={{ handler.settings['static_version'] }}"/>
<link rel="stylesheet" charset="utf-8" href="/css/bootstrap-datetimepicker.min.css?v={{ handler.settings['static_version'] }}"/>
<link rel="stylesheet" charset="utf-8" href="/css/simditor/simditor.css?v={{ handler.settings['static_version'] }}"/>
<link rel="stylesheet" charset="utf-8" href="/css/pagination/pagination.css?v={{ handler.settings['static_version'] }}"/>
<link rel="stylesheet" charset="utf-8" href="/css/pagination/reset.css?v={{ handler.settings['static_version'] }}"/>
{% block head %}{% end %}
</head>

<body{% block body_style %} class="skin-blue-light sidebar-mini"{% end %}>

<div class="wrapper">

{% block header %}{% end %}


{% block content %}{% end %}


{% block footer %}{% end %}

</div>


<script type="text/javascript" src="/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/Chart.min.js"></script>
<script type="text/javascript" src="/js/app.min.js?v={{ handler.settings['static_version'] }}"></script>
<script type="text/javascript" src="/js/admin.js?v={{ handler.settings['static_version'] }}"></script>
<script type="text/javascript" src="/js/moment.min.js"></script>
<script type="text/javascript" src="/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="/js/pagination/jquery.pagination.js?v={{ handler.settings['static_version'] }}"></script>
<script type="text/javascript">
    function getCookie(name) {
        var r = document.cookie.match("\\b" + name + "=([^;]*)\\b");
        return r ? r[1] : undefined;
    }
</script>
{% block tail_script %}{% end %}
</body>
</html>