{% extends "a_layout.html" %}

{% block title %}美会说 - {{ handler.settings["site_name"] }}管理后台{% end %}

{% block head %}
{% end %}


{% block header %}
{% module AdminNavModule() %}
{% end %}


{% block content %}

{% module AdminMenuModule("version") %}

<div class="content-wrapper" style="min-height: 612px;">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <h1>添加版本</h1>
  </div>

  <!-- Main content -->
  <div class="content">
    <!-- <form role="form" method="GET"> -->
    <div class="row">
      <div class="col-xs-12">
        <div class="box">
          <div class="box-header with-border">
            <div class="row">
              <div class="col-sm-12" style="text-align: right;">
              </div>
            </div>
          </div>
          <form method="post">

            {% module xsrf_form_html() %}
          <div class="box-body">
            <div class="row">
              <div class="col-sm-12">
                <div class="box-body">
                  <dl>
                    <dt>平台：</dt><br>
                    <dd>
                      <div class="radio">
                        <label>
                          <input type="radio" name="f_platform" id="f_platform" value="Android" {% if version and version.platform=="Android" %} checked="" {% end%} {% if not version %} checked="" {% end %}>Android
                        </label>
                        <label>
                          <input type="radio" name="f_platform" id="f_platform" value="iOS" {% if version and version.platform=="iOS" %} checked="" {% end%}>Ios
                        </label>
                      </div>
                    </dd><br>
                    <dt>更新版本号：</dt><br>
                    <dd><input type="text" class="form-control" name="f_version_name" id="f_version_name" {% if version %} value="{{version.version_name}}" {% end%}></dd>
                    {% if form_errors and form_errors.get('version_name') %}
                    <div class="form-hint-error"> {{form_errors['version_name']}} </div>
                    {% end %}<br>
                    <dt>更新信息：</dt><br>
                    <dd><textarea class="form-control" name="f_update_content" id="f_update_content">{% if version %} {{version.update_content}} {% end%}</textarea> </dd>
                    {% if form_errors and form_errors.get('update_content') %}
                    <div class="form-hint-error"> {{form_errors['update_content']}} </div>
                    {% end %}<br>
                    <dt>更新版本代码：</dt><br>
                    <dd><input type="text" class="form-control" name="f_version_code" id="f_version_code" {% if version %} value="{{version.version_code}}" {% end%}></dd>
                    {% if form_errors and form_errors.get('version_code') %}
                    <div class="form-hint-error"> {{form_errors['version_code']}} </div>
                    {% end %}<br>
                    <div id="change_platform" {% if version and version.platform=="iOS" %} style="display: none" {% end %}>
                      <dt>apk校验码：</dt><br>
                      <dd><input type="text" class="form-control" name="f_apk_md5" id="f_apk_md5" {% if version %} value="{{version.apk_md5}}" {% end%}></dd>
                      {% if form_errors and form_errors.get('apk_md5') %}
                      <div class="form-hint-error"> {{form_errors['apk_md5']}} </div>
                      {% end %}<br>
                      <dt>apk文件名：</dt><br>
                      <dd><input type="text" class="form-control" name="f_file_name" id="f_file_name" {% if version %} value="{{version.file_name}}" {% end%}></dd>
                      {% if form_errors and form_errors.get('file_name') %}
                      <div class="form-hint-error"> {{form_errors['file_name']}} </div>
                      {% end %}<br>
                    </div>
                  </dl>
                </div>
                <button class="btn btn-default">
                  <i class="fa fa-check"></i>保存
                </button>
              </div>
            </div>
          </div>
          </form>
        </div>
      </div>
    </div>
  <!-- </form> -->
  </div>
</div>

{% end %}


{% block footer %}
{% module AdminFooterModule() %}
{% end %}


{% block tail_script %}
<script type="text/javascript">
  $(function(){
    $("input[name=f_platform]").click(function(){
      var radio = document.getElementsByName("f_platform");
      for(var i=0;i<radio.length;i++){
        if(radio[i].checked){
          if(radio[i].value=="Android"){
            $("#change_platform").show();
          }else{
            $("#change_platform").hide();
          }
        }
      }
    });
  });
</script>
{% end %}
