{% extends "a_layout.html" %}

{% block title %}管理后台 {{ handler.settings["site_name"] }}{% end %}

{% block head %}
{% end %}


{% block body_style %} class="login-page"{% end %}


{% block header %}

{% end %}


{% block content %}

  <div class="login-box">
    <div class="login-logo">
      <a href="">{{ handler.site_name }}管理平台</a>
    </div>

    <div class="login-box-body">
      <p class="login-box-msg">管理员账号密码修改</p>
      <form method="post" action="">
        {% module xsrf_form_html() %}
        <div class="form-group">
          <label for="exampleInputEmail1">账号名:{{ user_name }}</label>
        </div>

        <div class="form-group">
          <label for="exampleInputEmail1">密码</label>
          <input type="password" name="f_password" class="form-control" id="f_password" placeholder="">
          {% if form_errors and form_errors.get('password') %}
            <div class="form-hint-error">{{ form_errors["password"] }}</div>
          {% end %}
        </div>

        <div class="row">
          <div class="col-xs-8"></div>
          <div class="col-xs-4">
            <button type="submit" class="btn btn-primary btn-block btn-flat">认证</button>
          </div>
        </div>
      </form>

    </div>
  </div>

  </div>

{% end %}


{% block tail_script %}
{% end %}